annotated-types==0.7.0
attrs==26.1.0
click==8.3.3
cramjam==2.11.0
fastparquet==2026.3.0
fsspec==2026.4.0
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
numpy==2.4.4
packaging==26.0
pandas==3.0.2
pip==26.0.1
pyarrow==24.0.0
pydantic==2.13.3
pydantic_core==2.46.3
python-dateutil==2.9.0.post0
referencing==0.37.0
rpds-py==0.30.0
setuptools==82.0.1
six==1.17.0
tree-sitter==0.25.2
tree-sitter-bash==0.25.1
typing_extensions==4.15.0
typing-inspection==0.4.2
uv==0.11.10
wheel==0.46.3

